[Unit]
Description=mewsician - mewsichip
After=default.target

[Service]
ExecStart=/home/chip/mewsician/start
Type=forking

[Install]
WantedBy=default.target
