[Unit]
Description=mewsician - mewsichip
After=default.target

[Service]
ExecStart=/home/chip/mewsichip/start
Type=forking

[Install]
WantedBy=default.target
